<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHelloWorld" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IHelloWorld" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/HelloWorldSite/HelloWorld.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
			<endpoint address="net.tcp://localhost/wcf/helloworldservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloWorld"
                contract="IHelloWorld" name="NetTcpBinding_IHelloWorld" />
		</client>
	</system.serviceModel>
</configuration>