<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint
				name="HttpHelloWorld"
				contract="HelloWorldHost.IHelloWorld"
				binding="basicHttpBinding"
				address="http://localhost/wcf/helloworldservice">
			</endpoint>
			<endpoint
				name="TcpHelloWorld"
				contract="HelloWorldHost.IHelloWorld"
				binding="netTcpBinding"
				address="net.tcp://localhost/wcf/helloworldservice">
			</endpoint>
		</client>	
	</system.serviceModel>
</configuration>