<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="HelloWorldHost.HelloWorldWCFService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wcf/helloworldservice"/>
						<add baseAddress="net.tcp://localhost/wcf/helloworldservice"/>
					</baseAddresses>
				</host>
				<endpoint
					contract="HelloWorldHost.IHelloWorld"
					binding="basicHttpBinding"
					address="">
				</endpoint>
				<endpoint
					contract="HelloWorldHost.IHelloWorld"
					binding="netTcpBinding"
					address="">
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>